name: Build Docker Images and Push to Quay and ECR

on:
  push:
    paths:
      - 'objects_delete/**'

jobs:
  ci:
    name: Build and Push objects_delete Image
    uses: uc-cdis/.github/.github/workflows/image_build_push.yaml@master
    secrets:
      ECR_AWS_ACCESS_KEY_ID: ${{ secrets.ECR_AWS_ACCESS_KEY_ID }}
      ECR_AWS_SECRET_ACCESS_KEY: ${{ secrets.ECR_AWS_SECRET_ACCESS_KEY }}
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_ROBOT_TOKEN: ${{ secrets.QUAY_ROBOT_TOKEN }}
    with:
      DOCKERFILE_LOCATION: ./objects_delete/delete_temp_objects.Dockerfile
      DOCKERFILE_BUILD_CONTEXT: ./objects_delete
      OVERRIDE_REPO_NAME: delete-expired-objects
